@model DevelopmentMetrics.Website.Models.ViewButton

<div class="@Model.Type-LoadingCache">
    <img src="/Content/loading-sm.gif" alt="loading"/>
</div>
<div class="@Model.Type-LoadedCache">
    <p>
        <a class="btn btn-default" href="/@Model.Action">@Model.Label</a>
    </p>
</div>
