@model DevelopmentMetrics.Website.Models.ViewButton

<div class="loadingCache">
    <img src="/Content/loading-sm.gif" alt="loading"/>
</div>
<div class="loadedCache">
    <p>
        <a class="btn btn-default" href="/@Model.Action">View build @Model.Label</a>
    </p>
</div>
