@using DevelopmentMetrics.Website.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Development metrics</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Build stability</h2>
        <p>
            Steve Smith's Continuous Delivery:
        </p>
        <p>
            Build stability =
            Build Failure Rate (percentage of builds that failed) & Build Failure Recovery Time (time to recover from failed build)
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build throughput</h2>
        <p>
            Steve Smith's Continuous Delivery:
        </p>
        <p>
            Build throughput = Build Lead Time (time between committing to master and creating artefact) & Build Interval (time between creating build artefacts)
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build deployment</h2>
        <p>
            Steve Smith's Continuous Delivery:
        </p>
        <p>
            Build deployment = XXXXXXXXXXXXXXXXXXXXXXX
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        @Html.Partial("_ViewButton",new ViewButton("stability", "buildstability"))
    </div>
    <div class="col-md-4">
        @Html.Partial("_ViewButton", new ViewButton("throughput", "buildthroughput"))
    </div>
    <div class="col-md-4">
        @Html.Partial("_ViewButton", new ViewButton("deployment", "builddeployment"))
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Card metrics</h2>
        <p>
            Lead time metrics:
        </p>
        <p>
            Lead time = average days between the nth card entering the process and the nth card being done
        </p>
    </div>
    <div class="col-md-4">
        <h2>Code throughput</h2>
        <p>
            Steve Smith's Continuous Delivery:
        </p>
        <p>
            Code throughput = Mainline Commit Lead Time (time between committing to a branch and merging branch to master) & Mainline Commit Interval (time between merges into master)
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>
            <a class="btn btn-default" href="/buildstability">View code throughput</a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="btn btn-default" href="/cards">View card metrics</a>
        </p>
    </div>
</div>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        loadBuildCache();
    });
</script>