@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Development metrics</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Card metrics</h2>
        <p>
            Lead time and cycle time metrics:
        </p>
        <p>
            Lead time =
        average days between the nth card entering the process and the nth card being done
        </p>
    </div>
    <div class="col-md-3">
        <h2>Build Stability</h2>
        <p>
            Steve Smith's Continuous Delivery:
        </p>
        <p>
            Build stability =
        </p>
        <p>
            Build Failure Rate (percentage of builds that failed) & Build Failure Recovery Time (time to recover from failed build)
        </p>
    </div>
    <div class="col-md-3">
        <h2>Build Throughput</h2>
        <p>
            Steve Smith's Continuous Delivery:
        </p>
        <p>
            Build throughput =
        </p>
        <p>
            Build Lead Time (time between committing to master and creating artefact) & Build Interval (time between creating build artefacts)
        </p>
    </div>
    <div class="col-md-3">
        <h2>Code Throughput</h2>
        <p>
            Steve Smith's Continuous Delivery:
        </p>
        <p>
            Code throughput =
        </p>
        <p>
            Mainline Commit Lead Time (time between committing to a branch and merging branch to master) & Mainline Commit Interval (time between merges into master)
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p>
            <a class="btn btn-default" href="/cards">View card metrics</a>
        </p>
    </div>
    <div class="col-md-3">
        <p>
            <a class="btn btn-default" href="/buildstability">View build stability</a>
        </p>
    </div>
    <div class="col-md-3">
        <p>
            <a class="btn btn-default" href="/buildstability">View build throughput</a>
        </p>
    </div>
    <div class="col-md-3">
        <p>
            <a class="btn btn-default" href="/buildstability">View code throughput</a>
        </p>
    </div>
</div>